{% extends 'base.html.twig' %}

{% block body %}
	<h2 class="page-header">Dashboard</h2>
	<table class="table table-striped">
	<thread>
	<tr>
	<th>#</th>
	<th>First name</th>
	<th>Last name</th>
	<th>date</th>	
	<th></th>
	</tr>
	</thread>
	<tbody>
	{% for sysventury in sysventorys %}
	<tr>
	<th scope="row">{{sysventury.id}}</th>
	<td>{{sysventury.name}}</td> 
	<td>{{sysventury.lastname}}</td>
	<td>{{sysventury.date|date('F j, Y, g:i a')}}</td>	
	<td>
		<a href="/sysVenturyClient/details/{{sysventury.id}}" class="btn btn-success">View</a>
		<a href="/sysVenturyClient/edit/{{sysventury.id}}" class="btn btn-default">Edit</a>
		<a href="/sysVenturyClient/delete/{{sysventury.id}}" class="btn btn-danger">Delete</a>		
	</td>
	</tr>
	{% endfor %}
	</body>
	</table>
{% endblock %}